* {
    margin: 0;
    padding: 0;
}

video {
    width: 40rem;
}

:root {
    font-family: 'Comic Sans MS';
    background-image: url("nyah.gif");
    color: yellow;
    text-shadow: 1px 1px 1px black;
}

p {
    overflow-wrap: break-word;
    margin-left: 4rem;
    margin-top: 2rem;
    background-color: rgb(255, 38, 0);
    padding: 1rem;
}

.logo {
    width: 3rem;
}

section,form{
    margin: 4rem;
}

h1 {
    text-align: center;
    font-size: 2.2rem;
}

.dog-pics img {

    object-fit: contain;

}

ul,
a {
    list-style: none;
    display: flex;
    text-decoration: none;
    gap: 1rem;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;

}

form input {
    display: block;
    margin-bottom: 1rem;
}

form {
    background-color: rgb(255, 38, 0);
    width: fit-content;
    padding: 1rem;
}



.card {
    background: greenyellow;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 0.4rem;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,
            hsl(0, 100%, 50%),
            hsl(30, 100%, 50%),
            hsl(60, 100%, 50%),
            hsl(90, 100%, 50%),
            hsl(120, 100%, 50%),
            hsl(150, 100%, 50%),
            hsl(180, 100%, 50%),
            hsl(210, 100%, 50%),
            hsl(240, 100%, 50%),
            hsl(270, 100%, 50%),
            hsl(300, 100%, 50%),
            hsl(330, 100%, 50%),
            hsl(360, 100%, 50%));
    padding: 0.5rem;
    gap: 1rem;
    font-size: 1.4rem;

}

img {
    width: 20rem;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
section > img{
    margin-left: 4rem;
}

table,
th,
td {
    border: 1px solid;
    background-color: rgb(255, 38, 0);
}

table {
    margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
    img,p {
        width: 100%;
        margin: 0 !important;
    }
    nav{
        font-size: 1.2rem;
    }

    form{
        margin: 0;
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, 100%);
        gap: 1rem;

    }

    video {
        width: 80%;

    }
}